<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Корзина</title>
    <link href="css/normalize.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;subset=cyrillic" rel="stylesheet">
    <link id = "style" href="css/style2.css" rel="stylesheet">
</head>
<body>
<header class="main-header">
    <div class="container">
        <div class="main-header-layout">
            <div class="main-header-catalog-logo">
                <a href="users">
                    <img src="img/nerds-logo.png" alt="Nerds" width="160" height="65">
                </a>
            </div>
            <nav class="main-header-navigation">
                <ul class="menu">
                    <li class="main-header-navigation-list-single single-1">
                        <a class="main-header-navigation-link link-1" href="#">Студия</a>
                    </li>
                    <li class="main-header-navigation-list-single single-2">
                        <a class="main-header-navigation-link link-2" href="#">Клиенты</a>
                    </li>
                    <li class="main-header-navigation-list-single single-3">
                        <a class="main-header-navigation-link link-3" href="catalog">Магазин</a>
                    </li>
                    <li class="main-header-navigation-list-single single-4">
                        <a class="main-header-navigation-link link-4" href="#">Контакты</a>
                    </li>
                    <li class="main-header-navigation-list-single single-5">
                        <a class="main-header-navigation-link link-4 sub" href="/logout">Выход</a>
                    </li>
                </ul>
            </nav>
            <div class="basket">
                <a class="basket-link" href="cart">Корзина</a>
            </div>
        </div>
    </div>
</header>
<div class="main">
<div>
    <span class="cart-span">Товары, добавленные пользователем </span>
    <span class="cart-span" th:text="${user.firstName}"></span>
    <br>
</div>
<div class="cart-item" th:each="product : ${products.entrySet()}">
    <div class="panel-heading">
        <h1><a class="cart-a" th:text="${product.getKey().name}" th:href="@{'/catalog'}">Title</a></h1>
        <h3 th:text="${product.getKey().description}">Description</h3>
    </div>
    <div class="row panel-body">
        <div th:inline="text" class="col-md-2">Цена: [[${product.getKey().price}]] р.</div>
        <a class="cart-a" th:href="@{'/cart/removeProduct/{id}'(id=${product.getKey().id})}">
            <button type="button" class="btn cart-btn">Удалить товар</button>
        </a>
    </div>
</div>
<div class="order">
    <a class="cart-a" th:href="@{'/cart/checkout'}">
        <button type="button" class="btn cart-btn order-btn">Заказать</button>
    </a>
</div>
</div>
<footer class="main-footer">
    <div class="container">
        <div class="bottom-footer">
            <div class="bottom-footer-left">
                <a href="#" class="footer-btn footer-btn-vk">vk</a>
                <a href="#" class="footer-btn footer-btn-fb">fb</a>
                <a href="#" class="footer-btn footer-btn-inst">inst</a>
            </div>
            <div class="bottom-footer-right">
                <p class="bottom-footer-right-name">Давайте дружить, это выгодно!</p>
                <p class="bottom-footer-info">Скидка 10% для друзей из социальных сетей.</p>
            </div>
        </div>
    </div>
</footer>
<div class="feedback">
    <form action="post" method="post">
        <p class="feedback-header-name">Напишите нам</p>
        <div class="footer-form-column">
            <div class="footer-form-column-left">
                <label for="feedback-login" class="feedback-login-label">Ваше имя:</label>
                <input class="feedback-login-input" type="text" name="login" id="feedback-login" placeholder="Представьтесь, пожалуйста" >
            </div>
            <div class="footer-form-column-right">
                <label class="feedback-email-label">Ваш e-mail:<input class="feedback-email-input" type="text" name="email" placeholder="Для отправки ответа"></label>
            </div>
        </div>
        <div class="feedback-letter">
            <label class="feedback-letter-label">Текст письма:<textarea class="feedback-letter-textarea" name="text" rows="5" placeholder="В свободной форме"></textarea></label>
        </div>
        <div class="feedback-btn">
            <button type="submit" class="btn feedback-btn-btn">Отправить</button>
        </div>
    </form>
    <button type="button" class="btn feedback-cancel-btn">Закрыть форму</button>
</div>
</body>
</html>